$white-lilac: #f0f1fa;
$cadet-blue: #acadc1;
$moody-blue: #656ad9;
$victoria: #433e8d;
$victoria2: #52458a;
$deep-cove: #06054a;
$black: #000000;
$alto: #dddddd;
$boulder: #777777;
$martinique: #2f2949;
$white: #ffffff;
$header-linear: linear-gradient(
  to left,
  rgb(72, 44, 152),
  rgba(44, 30, 136, 0)
);
$header-radial: linear-gradient(
  to left,
  rgb(72, 44, 152),
  rgba(44, 30, 136, 0)
);

$time-distribution: cubic-bezier(0.4, 0, 0.2, 1);
$time: 250ms;

$ff-ibm: 'IBM Plex Sans', sans-serif;
$ff-tenor: 'Tenor Sans', sans-serif;

$u0: 0px;
$u1: 1px;
$u2: 2px;
$u3: 3px;
$u4: 4px;
$u5: 5px;
$u6: 6px;
$u7: 7px;
$u8: 8px;
$u9: 9px;
$u10: 10px;
$u11: 11px;
$u11: 11px;
$u12: 12px;
$u13: 13px;
$u14: 14px;
$u15: 15px;
$u16: 16px;
$u17: 17px;
$u18: 18px;
$u19: 19px;
$u20: 20px;
$u21: 21px;
$u22: 22px;
$u24: 24px;
$u25: 25px;
$u26: 26px;
$u28: 28px;
$u30: 30px;
$u35: 35px;
$u36: 36px;
$u38: 38px;
$u40: 38px;
$u41: 41px;
$u45: 45px;
$u49: 49px;
$u50: 50px;
$u64: 64px;
$u71: 71px;
$u76: 76px;
$u79: 79px;

$tab: 768px;
$des: 1440px;
